* {
    font-family: "rl-aqva", sans-serif;
    font-weight: 900;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
   
}

h4 {
    background-color: #e6188e;
    color: #fbef4f;
    width: 8em;
    text-align: center;
    padding: 5%;
}
a h4 {
    color: #fbef4f;
    
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: #fbef4f;
  }
  
  a:active {
    text-decoration: underline;
    text-decoration-color: #fbef4f;
  }


.cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    width: 100%;
    height: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon {
    width: 70px;
    height: 70px;
}
.blurb-container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 3%;
    align-items: center;
    justify-content: center;
}

.blurb-container img {
    width: 80%;
    height: auto;
}
.hero-container img {
    width: 100%;
    height: auto;
    
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-info p {
    padding: 5%;
}

.footer-blurb {
    width: 100%;
    height: auto;
    padding: 3%;

}



#navbarNavDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}



.button {
    
    text-align: center;
    
    
}


ul {
    padding-top: 5%;
}

.art-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 100%;
    padding-top:3%;

    
}
.art-grid img {
    width: 100%;
    height: auto;
}

.project-info {
    text-align: center;
}


.footer {
    background-color: #e6188e;
    padding: 3%;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.socials a {
    color: white;
}

 h1 {
    text-align: center;
    color: #e6188e !important;
    
    padding: 3% 10% 3% 10%;
   
 }

 
 
 
 @media screen and (max-width: 480px) {
    .art-grid, .blurb-container, .project-info {
        display: block;
    }
    .blurb-container img {
        width: 100%;
    }

    .icon {
        display: none;
    }
  }

